CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# python 
# */__pycache__/
build/visualisation/__pycache__/

# Jupyter notebook
# */.ipynb_checkpoints/
build/visualisation/.ipynb_checkpoints/

# data file folder 
build/data/
build/instructions/processed/

# raw data files
*.data
